<!-- @dsCard group="Components" viewport="700x160" name="Glyphs" subtitle="Maneuver arrows + BLE connection mark" -->
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{margin:0;padding:16px;background:#fff}.row{display:flex;gap:18px;align-items:center;flex-wrap:wrap}.lbl{font:10px monospace;text-align:center;margin-top:2px;color:#555}</style>
<div id="root"></div>
<script type="text/babel">
const { ManeuverGlyph, ConnectionMark } = window.MotoHUDDesignSystem_632360;
const types = ['left','right','slight-left','slight-right','straight','u-turn','roundabout','arrive','depart','unknown'];
function App(){
  return <div>
    <div className="row">{types.map(t=><div key={t}><ManeuverGlyph type={t} /><div className="lbl">{t}</div></div>)}</div>
    <div className="row" style={{marginTop:16}}>
      <div><ConnectionMark connected={true} heartbeat={true} /><div className="lbl">connected+hb</div></div>
      <div><ConnectionMark connected={true} heartbeat={false} /><div className="lbl">connected</div></div>
      <div><ConnectionMark connected={false} /><div className="lbl">lost</div></div>
    </div>
  </div>;
}
ReactDOM.createRoot(document.getElementById('root')).render(<App/>);
</script>
